<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Cocktail</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
    <h1>Welcome to the Random Cocktail Generator!</h1>
    <div class="container">
        <p>Click the button below to get a random cocktail.</p>
        
        <form action="/random-cocktail" method="get">
            <button type="submit">Get Random Cocktail</button>
        </form>

        <!-- Check if cocktail exists, then display the details -->
        <% if (cocktail) { %>
            <h2><%= cocktail.strDrink %></h2>
            <img src="<%= cocktail.strDrinkThumb %>" alt="Cocktail Image" style="width:300px; height:auto;">
            <p><strong>Category:</strong> <%= cocktail.strCategory %></p>
            <p><strong>Instructions:</strong> <%= cocktail.strInstructions %></p>
            <ul>
                <% for (let i = 1; i <= 15; i++) { %>
                    <% if (cocktail['strIngredient' + i]) { %>
                        <li><strong><%= cocktail['strMeasure' + i] %></strong>  of  <strong><%= cocktail['strIngredient' + i] %></strong>  </li>
                    <% } %>
                <% } %>
            </ul>
        <% } %>
    </div>
</div>
</body>
</html>
